/* CSS declarations go here */
.fa-delete {
    color: gray;
    cursor: pointer;
    vertical-align: middle;
}

.fa-delete:hover {
    color: red;
}

.row {
	margin-top: 15px !important;
}

.fa-edit {
    padding-top: 3px;
    color: gray;
    cursor: pointer;
    margin-right: 30px;
    vertical-align: middle;
}

.fa-edit:hover {
    color: blue;
}

.voffset30 {
	margin-top: 30px;
}

#brand-edit {
	margin: 20px;
}

.voffset50 {
	margin-top: 50px;
}

.voffset200 {
	margin-top: 200px;
}

.voffset15 {
	margin-top: 15px;
}

.page-edit {
	margin: 20px;
}

body {
  font-size: 18px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.admin-panel {
	margin: 20px;
}

.lead-gen-top-row {
	background-color: #4e4e4e;
	padding-top: 25px;
	padding-bottom: 25px;
	border: 1px solid black;
}

.lead-gen-top-row-title {

	margin-top: 40px;
	color: white;
	font-size: 28px;
	text-transform: uppercase;

}

.lead-gen-top-row-subtitle {

	margin-top: 10px;
	color: orange;
	font-size: 36px;
	
}

.lead-gen-middle-row {
	margin-top: 50px;
	margin-bottom: 50px;
}

.lead-gen-middle-main-text {
	font-size: 22px;
	text-align: justify;
}

.lead-gen-middle-question {
	font-style: italic;
}

.lead-gen-middle-email {
	margin-top: 15px;
}

#email {
	font-size: 22px;
	height: 40px;
}

.lead-gen-middle-button {
	margin-top: 15px;
}

#submit {
	font-size: 22px;
	background-color: orange;
}

.lead-gen-middle-disclaimer {
	text-align: center;
	margin-top: 15px;
	font-size: 12px;
}

.lead-gen-featured-title {
	font-size: 24px;
	margin-top: 25px;
	text-transform: uppercase;
}
.lead-gen-featured-text {
	font-size: 18<div class="col-md-12">px;
	color: gray;
}

/*span.glyphicon-ok {
    font-size: 50px;
}
*/
.lead-gen-message-row {
	background-color: #CCCCCC;
	padding-top: 35px;
	padding-bottom: 35px;
	border: 1px solid black;
}

.lead-gen-message-main {
	font-size: 22px;
	margin-top: 5px;
	text-align: justify;
}

.lead-gen-message-highlight {
	font-weight: bold;
}

#download {
	font-size: 22px;
	background-color: orange;
	font-weight: bold;
}

.lead-gen-last-row {
	color: white;
	background-color: #4e4e4e;
	padding-top: 50px;
	padding-bottom: 50px;
}

.lead-gen-last-text {
	font-size: 22px;
	text-align: center;
}

.lead-gen-last-button {
	margin-top: 25px;
	text-align: center;
}

.brand-title {
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 10px;
}
